.main{
    background-color: grey;
    width: 10cm;
    height: 20cm;
}

h1{
    color:white;
    font-size: 40px;
    
}

h1 ~ div{
    background-color: orange;
    width: 3cm;
    height: 3cm;
    margin-bottom: 1cm;
    margin-left: 35px;
}